*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-collapse{
display: flex;
justify-content:flex-end;

} 
.spa{
    position: relative;
    top: -21px;
    left: -70px;
    background-color: red;
    padding:3px;
   
    text-align: center;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}
.btn2{
    display: flex;
    justify-content: center;
    position: relative;
    left: 1rem;
}
 


.col{
    position: relative;
    top: -30px;
}
.btn3{
    display: flex;
    justify-content: center;
}
.image img{
  display: flex;
  justify-content: center;
 border-radius: 50%;
 height: 30rem;
}
.carousel-inner{
    height: 30rem;
   }
   .carousel-item img{
       filter: brightness(50%);
     }
     .carousel-caption{
        display: flex;
        justify-content: center;
       position:absolute;
       top: 140px;
     
     }


     @media screen and (max-width:400px){
        .carousel-item{
            height: auto;
     }
     .carousel-caption{
        position:relative;
        top: -15rem;
    
       
     
      }
    }
    
     @media screen and (max-width:900px){
        .carousel-item{
            height: auto;
        }

       
    }
    @media screen  and (max-width:400px){
        .carousel-caption{
          position:relative;
          top: 20rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
       
        }
       }
   
       @media screen  and (max-width:400px){
        .carousel-indicators{
     
          display: flex;
          justify-content: center;
          position: relative;
          top: 11rem;
       
        }
    }
        
    @media screen  and (max-width:400px){
        .carousel-caption{
          position:relative;
          top: 20rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
       
        }
      
       }
       @media screen  and (max-width:400px){
        .carousel-control-prev-icon ,  .carousel-control-next-icon {
          position:relative;
          top: -7rem;
         display: flex;
         justify-content: center;
 
        }  
        .navbar p{
            position: relative;
            left: -60px;
            top: 2px;
        }
        .para{
            display: flex;
            justify-content: center;
            position:absolute;
            top: 18rem;
            left: 30px;
        }
        .carda{
          gap: 20px;  
        }
        
        .card{
            display: flex;
            justify-content: center;
            position: absolute;
            top: -12rem;  
        }
        .page{
         
            position: relative;
            top: -9rem;

        }
       
    }

    @media screen  and (max-width:900px){
     .carousel-caption{
       position:absolute;
       top: 10rem;
       display: flex;
       justify-content: center;
    
     }
     .carda{
        gap: 20px; 
        display: inline-block; 
      }
    
     
    }
    a:hover{
        background-color: gray;
        border-radius: 5px;



    }
    #header {
      background:white;
      transition: all 0.5s;
      z-index: 997;
      height: 70px;
    }
    
     